.content {
  .row {
    img {
      //max-width: 100%;
    }

    //.product-col {
    //  height: 200px;
    //  background-color: white;
    //
    //  /* Large devices (large desktops, 1200px and up) */
    //  @media (max-width: 1260px) {
    //    background-color: green;
    //    width: 25%;
    //    float: left;
    //  }
    //  /* Medium devices (desktops, 992px and up) */
    //  @media (max-width: 700px) {
    //    background-color: yellow;
    //  }
    //  /* Small devices (tablets, 768px and up) */
    //  @media (max-width: 500px) {
    //    background-color: red;
    //  }
    //}

    .vegi {
      background-color: green;
    }
    .fruit {
      background-color: orange;
    }
    .meat {
      background-color: red;
    }

    //div.col-md-3 {
    //  max-height: 600px;
    //  margin-bottom: 10px;
    //
    //  .row {
    //    margin-left: -10px;
    //    margin-right: -10px;
    //  }
    //
    //  .productinfo {
    //    padding: 8px 0;
    //    background-color: white;
    //
    //    .name {
    //      font-size: 20px;
    //    }
    //
    //    .description {
    //      padding: 4px;
    //    }
    //
    //    .link {
    //      padding: 4px;
    //    }
    //  }
    //}
  }
}