@background-color-fruit: #eb9316;
@background-color-meat: #c12e2a;
@background-color-vegi: #419641;


#body {
  max-width: 1260px;
  margin: auto;
  background-color: #eeeeee;

  .navbar {
    #navbar {
      float: right;
    }
  }

  .main {
    margin-top: 100px;

    .filter {
      padding: 0 0 20px 0;

      label {
        -webkit-border-radius: 30px;
        -moz-border-radius: 30px;
        border-radius: 30px;

        span {
          padding-left: 4px;
        }
      }
    }

    .content {
      .row {
        div.col-md-3 {
          max-height: 600px;
          margin-bottom: 10px;

          .row {
            margin-left: -10px;
            margin-right: -10px;
          }

          .productinfo {
            padding: 8px 0;
            background-color: white;

            .name {
              font-size: 20px;
            }

            .description {
              padding: 4px;
            }

            .link {
              padding: 4px;
            }
          }
        }


        .fruit {
          //background-color: @background-color-fruit;
        }

        .vegi {
          //background-color: @background-color-vegi;
        }

        .meat {
          //background-color: @background-color-meat;
        }
      }
    }

  }
}